*{
    margin: 0px;
    font-family: sans-serif;
}
/* nav start  */
nav{
    display: flex;
    justify-content: space-between;
    margin: 0px 200px;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
nav ul{
    padding: 0px;
}
nav ul li{
    display: inline-block;
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    padding: 5px 15px;
    color: black;
}
nav h2{
    font-size: 1.7rem;
}

/* header part start  */
header{
    margin:auto 200px;
    padding: 70px 0px;
}
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-text h1{
    font-size: 3rem;
    margin: 20px 0px;
}
.header-text a{
    display: inline-block;
    text-decoration: none;
    background-color: #DC256D;
    color: white;
    margin-top: 2rem;
    padding: 0.8rem;
    border-radius: 1.5rem;
    align-items: center;
}
.cricle-image{
    position: relative;
}
.cricle-image > img{
    width: 100%;
}
.main-camera{
    position: absolute;
    top: 10px;
    left: 30px;
}
.main-camera img{
    width: 100%;
}

/* logo section  */
#main{
    margin-left: 300px;
    margin-right: 300px;
}
.logo-parent{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    border-top: 2px solid rgba(219, 213, 213, 0.397);
    border-bottom: 2px solid rgba(219, 213, 213, 0.397);
    padding: 15px 0px;
}
.logo-parent img{
    width: 5rem;
    margin:10px 20px;
}
/* product section  */
#product-section{
    margin-top: 4rem;
    margin-bottom: 4rem;
    position: relative;

}
.product-title{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2.5rem;
}
.product-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    gap: 2rem;
}
.single-product-item{
    border-radius: 8px;
    padding: 10px;
    background-color: white;
    box-shadow: 0px 0px 7px 5px #F2F2F2;
}
.single-product-item .product-image img{
    width: 100%;
}
.product-text h2{
    margin: 10px 0px;
}
.product-text .price{
    font-size: 1.8rem;
    color: rgba(0, 0, 0, 0.774);
    display: inline-block;
    margin: 10px 0px;
}
.fa-star, .fa-star-half-alt{
    color: #F78027;
    margin-bottom: 10px;
}
.product-text p{
    color: rgba(0, 0, 0, 0.568);
    margin: 8px 0px;
}
.see-more{
    text-decoration: none;
    display: inline-block;
    color: #DC256D;
    margin-top: 2rem;
    font-size: 1.1rem;
    position: absolute;
    right:0px;
}
/* feature section start  */
.feature-parent{
    display: flex;
    align-items: center;
    gap: 80px;
    padding: 80px 0px;
}
.feature-parent h2{
    font-size: 1.6rem;
    margin: 1.1rem 0px;
}
.feature-parent p{
    line-height: 1.2rem;
}
.feature-parent a{
    display: inline-block;
    margin-top: 1.2rem;
    text-decoration: none;
    background-color: #DC256D;
    color: white;
    padding: 10px;
}
/* footer section start  */
footer{
    background-color: #0A0825;
}
.footer-container{
    width: 80%;
    margin: auto;
    color: white;
    text-align: center;
    padding: 30px 0px;
}
.footer-icon-container{
    display: flex;
    justify-content: center;
}
.footer-icon-container a{
    text-decoration: none;
    display: inline-block;
}
.footer-icon-container{
    margin-top: 20px;
}
.footer-icon-container i{
    padding:0.7rem;
    font-size: 1.1rem;
    margin:0px 12px;
    background-color: #DC256D;
    border-radius: 50%;
    color: white;
    background-color: #22213B;
}
.copy{
    margin-top: 25px;
}
/* mobile responsive  */
@media only screen and (max-width:576px){
    nav{
        flex-direction: column;
        margin: 0px 10px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    nav ul li a{
        text-decoration: none;
        padding: 5px 8px;
        color: black;
        display: inline-block;
        margin-top: 25px;
    }
    header{
        margin: auto 20px;
    }
    .header-container{
        flex-direction: column-reverse;
        text-align: center;
    }
    #main{
        margin-left: 20px;
        margin-right: 20px;
    }
    .product-container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .feature-parent{
        flex-direction: column-reverse;
        align-items: center;
        gap: 40px;
        padding: 30px 0px;
    }
    .feature-image img{
        width: 100%;
    }
    
}

/* tab responsive */
@media only screen and (min-width:577px) and (max-width:886px){
    nav{
        display: block;
        margin: 0px 40px;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    nav ul{
        margin-top: 40px;
    }
    nav ul li a{
        padding: 5px 10px;
        font-size: 1.5rem;
    }
    header{
        margin: auto 30px;
    }
    .header-container{
        flex-direction: column-reverse;
    }
    #main{
        margin-left: 30px;
        margin-right: 30px;
    }
    .logo-parent{
        display: flex;
        flex-wrap: wrap;
    }
    .logo-parent img{
        margin: 10px 15px;
    }
    .product-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .feature-parent{
        flex-direction: column-reverse;
        align-items: center;
        gap: 60px;
        padding: 40px 0px;
    }

}
/* large device  */
@media only screen and (min-width:887px) and (max-width:1150px){   
    nav{
        margin: 0px 60px;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    nav ul li a{
        padding: 7px 15px;
        font-size: 1.3rem;
    }
    header{
        margin:auto 80px;
        padding: 50px 0px;
    }
    .header-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
    }
    #main{
        margin-left: 80px;
        margin-right: 80px;
    }
    .feature-parent{
        display: flex;
        align-items: center;
        gap: 40px;
        padding: 60px 0px;
    }
}